.MyMessage {
    height: 60px;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    align-items: center;
    margin-bottom: 60px;

    p {
        position: relative;
        top: -10px;
        height: 60px;
        padding: 10px;
        border-radius: 25px;
        font-size: 18px;
        font-weight: 500;
        line-height: 40px;
        background-color: #cacacb;
        color: #3e3e40;
        margin: 0;
    }

    span {
        position: absolute;
        min-width: max-content;
        right: 10px;
        bottom: -40px;
        color: grey;
        font-size: 14px;
    }
}